---
import Installation from '../components/Installation.astro'
import DemoBlock from '../components/Demo/DemoBlock.astro'
import AboutBlock from '../components/About/AboutBlock.astro'
import Header from '../components/Header.astro'
import Head from '../components/Head.astro'
import Hero from '../components/Hero.astro'
---

<html lang="en">
  <Head
    description="ESLint plugin for sorting various data such as objects, imports, types, enums, JSX props, etc."
  />
  <body>
    <Header />
    <Hero />
    <AboutBlock />
    <Installation />
    <DemoBlock />
  </body>
</html>
