---
import Container from "../Container.astro";
import Title from "../Title.astro";
---

<section class="about">
  <Container>
    <Title>ESLint Plugin</Title>
  </Container>
</section>

<style>
  .about {
    background: var(--color-background-secondary);
    padding-block: 64px;
  }
</style>
